<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title text-center>{{user.username}}</ion-title>

    <!--<ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="person-add"></ion-icon>
          </ion-button>
        </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <div class="profile-header">
      <ion-avatar slot="start">
        <img src="/assets/profile-photo.jpg" />
      </ion-avatar>
      <div class="profile-text-content">
        <div class="profile-name">
          <h1>
            {{user.username}}
          </h1>
          <ion-buttons (click)="presentMorePopover($event)">
            <ion-button>
              <ion-icon slot="icon-only" name="more" color="dark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <ion-button
          color="light"
          fill="outline"
          color="medium"
          *ngIf="user.followed"
          >Contacter</ion-button
        >
        <ion-button (click)="subscribe()" *ngIf="!user.followed">
          <ion-icon slot="end" name="pizza"></ion-icon>
          Gras'bonnez-vous !
        </ion-button>
      </div>
    </div>
    <div class="profile-bio">
      <b *ngIf="user.getUserIdentity()">{{user.getUserIdentity()}}</b>
      <span *ngIf="user.bio">{{user.bio}}</span>
    </div>
    <ul>
      <li>
        <ion-text class="center little">
          <span>{{user.countPublications}}</span>
          Publications
        </ion-text>
      </li>
      <li>
        <ion-text class="center little">
            <span>{{user.countFollowers}}</span>
          Abonnés
        </ion-text>
      </li>
      <li>
        <ion-text class="center little">
            <span>{{user.countSubscriptions}}</span>
          Abonnements
        </ion-text>
      </li>
    </ul>
    <div class="profile-medias">
      <img
        class="profile-media"
        *ngFor="let media of [1,2,3,4,5,6,7,8,9,10,11]"
        src="assets/{{media}}.jpg"
      />
    </div>
  </div>
</ion-content>
