<ion-header>
  <ion-toolbar>
    <ion-title>
      Instagras
      <ion-card-subtitle>
        Profile
      </ion-card-subtitle>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <p>Username : {{userProfile.username}} | Email : {{userProfile.email}}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
      <ion-row >
        <ion-col col-4 class="grid_img" *ngFor="let i of images">
          <img [src]="i.post_img" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
<ion-button color="danger" (click) ="logout()">Logout</ion-button>

