<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col> 
          <ion-text>{{keycloakUserProfile.username}}</ion-text>
        </ion-col>
        <ion-col> 
            <ion-icon class="custom-logout-icon" (click) ="this.logout()"></ion-icon> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> 
            <ion-avatar>
              <img src="/assets/profile-photo.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col style="padding-top: 8%;"> 
            <ion-text class="center little"> <div class="bold">0</div> <p> Publications </p> </ion-text>
        </ion-col>  
        <ion-col style="padding-top: 8%;"> 
          <ion-text class="center little"> <div class="bold">0</div> <p> Abonnés </ion-text> 
        </ion-col>
       <ion-col style="padding-top: 8%;"> 
          <ion-text class="center little"> <div class="bold">0</div> <p> Abonnements </ion-text> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-text class="little bold" style="padding-left:2%">Enki Michel</ion-text>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<div style="text-align: center;">
  <ion-button color="light" (click) ="openUpdateProfilePage()"><ion-text class="big">Modifier le profil</ion-text></ion-button>
</div>
<ion-content padding>
  <div class="images">
    <div class="one-image" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11]">
      <img src="assets/{{image}}.jpg">
    </div>
  </div>
</ion-content>




