<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="openCreatePublication()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-img src="/assets/instagras.png" style="height: 32px;" (click)="scrollToTop()"></ion-img>
      <ion-buttons slot="end">
          <ion-button color="dark">
            <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"> 
        <ion-refresher-content ></ion-refresher-content>
      </ion-refresher>

    <div class="feed-container">
      <div class="post" *ngFor="let publication of publicationsList">
        <div class="post-header">
            <ion-avatar>
                <img src="/assets/profile-photo.jpg" />
              </ion-avatar>
              <h1 class="post-header-username">
                {{publication.username}}
              </h1>
        </div>
        <img class="post-content" src="data:image/JPEG;base64,{{publication.img}}">
        <ion-buttons slot="start">
            <ion-button (click)=likePublication(false) *ngIf ="likedPublication"> 
              <ion-icon slot="icon-only" name="heart-empty" color="dark"></ion-icon>
            </ion-button>
            <ion-button (click)=likePublication(true) *ngIf ="!likedPublication">
              <ion-icon slot="icon-only" name="heart" color="red" ></ion-icon>
            </ion-button>
            <ion-button (click)="openPost(publication.id)">
              <ion-icon slot="icon-only" name="text" color="dark"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon slot="icon-only" name="paper-plane" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
          <small class="post-like-text">
              Aimé par users
          </small>
            <p class="post-description" (click)="openPost(publication.id)">
              {{publication.description}}
            </p>
      </div>
      <div>
     
        <ion-title text-center *ngIf="nbPublications==0"> <p><p>Aucune publication</ion-title>
      </div>
    </div>
  </ion-content>
  
  
  