<ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col> 
              <ion-img src="/assets/instagras-logo.png" class="instagras-logo"></ion-img>
          </ion-col>
          <ion-col> 
              <ion-img src="/assets/instagras.png" class="instagras-text"></ion-img>
          </ion-col>
          <ion-col> 
              <ion-img src="/assets/logout-icon.svg" class="dashboard-logout-icon" (click) ="this.logout()"></ion-img> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-content>
      <div class = "publication" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11]">
      <ion-grid>
        <ion-row>
          <ion-col> 
            <ion-avatar class ="dashboard">
              <img src="/assets/profile-photo.jpg">
            </ion-avatar>
          </ion-col>
          <ion-col> 
            <ion-text class="little bold"  style="margin-left: -55%; margin-top: 10%">{{keycloakUserProfile.username}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <div style="margin-left: auto; margin-right: auto;" >
            <img src="assets/profile-photo.jpg">
          </div>
        </ion-row>
      </ion-grid>
    </div>
    </ion-content>
  </ion-content>
  
  
  