<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="dark">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-img src="/assets/instagras.png" style="height: 32px;" (click)="scrollToTop()"></ion-img>
      <ion-buttons slot="end">
          <ion-button color="dark">
            <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="feed-container">
      <div class="post" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11]">
        <div class="post-header">
            <ion-avatar>
                <img src="/assets/profile-photo.jpg" (click)="openProfile(image)"/>
              </ion-avatar>
              <h1 class="post-header-username" (click)="openProfile(image)">
                {{keycloakUserProfile.username}}
              </h1>
        </div>
        <img class="post-content" src="assets/profile-photo.jpg" (click)="openPost(image)">
        <ion-buttons slot="start">
            <ion-button>
              <ion-icon slot="icon-only" name="heart-empty" color="dark"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon slot="icon-only" name="text" color="dark"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon slot="icon-only" name="paper-plane" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
          <small class="post-like-text">
              Aimé par users
          </small>
            <p class="post-description" (click)="openPost(image)">
              Superbe et sublime description
            </p>
      </div>
    </div>
  </ion-content>
  
  
  