/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

 ion-img{
  
   &[class*="profile-logout-icon"] {
      margin-left:90% !important;
      width: 25px;
      height: 25px;
   }
   &[class*="dashboard-logout-icon"] {
      margin-left:85% !important;
      width: 25px;
      height: 25px;
   }
   &[class*="instagras-logo"] {
      margin-right:20% !important;
      margin-top:2% !important;
      width: 25px !important;
      height: 25px !important;
   }
   &[class*="instagras-text"] {
      margin-left:-80% !important;
      margin-top:-8% !important;
      width: 75px !important;
      height: 50px !important;
   }
 }
/* ion-button{
    width:200px !important;
 }
 @media (max-width: 200px) {
   ion-button{
      width:100% !important;
   }
}*/
 
 ion-title {
    &[class*="instagras-title"] {
        margin-left:0%;
    }
 }
 ion-text {
   &[class*="center"] {
      text-align:center;
   }
   &[class*="little"] {
      font-size:80%;
   }
   &[class*="big"] {
      font-size:100%;
   }
 }
 .bold{
   font-weight: bold;
 }
 ion-avatar  {     
   &[class*="profile"] {
      width:80% !important;  
      height:90% !important; 
   }  
   &[class*="dashboard"] {
      width:20% !important;  
      height:80% !important; 
      margin-left:25% !important; 
   }  
}

//responsivity of image gallery

.image-container {
   min-height: 200px;
   background-size: cover;
}

@media (min-width: 0px) {
   .images {
       column-count: 2;
   }
}

@media (min-width: 420px) {
   .images {
       column-count: 3;
   }
}

@media (min-width: 720px) {
   .images {
       column-count: 4;
   }
}



 
       